<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="keyValuePairCustomSection" type="System.Configuration.NameValueSectionHandler" />
    <!-- 
      Complex configrations
      type = Full qualified class name, assemblyName 
    -->
    <section name="complexCustomSection" type="Petersen.CustomConfiguration.ComplexConfiguration.ComplexSection, Petersen.CustomConfiguration" />
    <section name="plannerSection" type="Petersen.CustomConfiguration.NestedClassesConfiguration.PlannerSection, Petersen.CustomConfiguration" />
  </configSections>
  <keyValuePairCustomSection>
    <add key="property1" value="true" />
    <add key="property2" value="content_text" />
  </keyValuePairCustomSection>
  <complexCustomSection>
    <customElements>
      <add name="property1" attribute1="custom_text_1" attribute2="10" />
      <add name="property2" attribute1="custom_text_2" attribute2="20" />
    </customElements>
  </complexCustomSection>
  <plannerSection>
    <sections>
      <section id="teams">
        <pagination itemsperpage="10" visiblePages="15" />
      </section>
      <section id="klanten">
        <pagination itemsperpage="20" visiblePages="25" />
      </section>
      <section id="projecten">
        <pagination itemsperpage="30" visiblePages="35" />
      </section>
    </sections>
  </plannerSection>
</configuration>